@page
@model Lrmkt.CourseRatings.Web.Pages.Courses.RemoveModel
@{
    ViewData["Title"] = "Remove course";
}

<h1>@ViewData["Title"]</h1>
<div class="col-md-6">
    <form method="post">
        <h4>Are you sure you want to remove the course <b>@Model.Quiz!.Title</b>?</h4>
        <hr />

        <input hidden asp-for="Quiz!.Id" />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Remove</button>
        </div>
    </form>
</div>