@page
@model Lrmkt.QuizzesSystem.Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<a asp-page="/Quizzes/Create">Create quiz</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th>Answers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quiz in Model.Quizzes)
        {
            <tr>
                <td>@quiz.Title</td>
                <td>
                    <a asp-page="/Quizzes/Answers" asp-route-id="@quiz.Id">@quiz.Answers</a>
                </td>
                <td>
                    <a asp-page="/Quizzes/Remove" asp-route-id="@quiz.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
